/* navbar.css */

.navbar-custom {
  background-color: #f8f9fa; /* Light gray background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.navbar-brand {
  font-weight: bold;
  color: #333; /* Dark color for the brand text */
}

.navbar-nav .nav-link {
  color: #555; /* Darker text for nav links */
  transition: color 0.3s; /* Smooth transition for color change */
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #007bff; /* Blue color on hover or when active */
}

.dropdown-menu {
  background-color: #f8f9fa; /* Light gray background for dropdown */
}

.dropdown-item {
  color: #333; /* Dark color for dropdown items */
  transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
}

.dropdown-item:hover {
  background-color: #e9ecef; /* Lighter gray background on hover */
  color: #343a40; /* Dark color on hover */
}

.dropdown-btn {
  cursor: pointer;
}

.dropdown-container {
  display: none;
  position: absolute;
  background-color: #f8f9fa; /* Light gray background */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Box shadow */
  z-index: 1;
}

.dropdown-container a {
  padding: 12px 16px;
  display: block;
  color: #343a40; /* Dark color for dropdown links */
  text-decoration: none;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.dropdown-container a:hover {
  background-color: #e9ecef; /* Lighter gray background on hover */
}
